button {
  font-size:20px;
}

ul.class-list {
  list-style-type:none;
  padding:0;
  background-color:#def9fa;
}

.class-list li:nth-child(even) {
  background-color: #def9fa;
}

li.student-option:nth-child(even) {
  background-color: inherit;
}

.student-row {
  border-bottom: 1px solid #aaa;
}

.class-list {
  max-width:900px;
  margin-right:auto;
  margin-left:auto;
}

.name {
  text-align:left;
}

.add-user {
  height: 25px;
  display:inline-block;
  margin-right: 4px;
}

.add-student {
  height: 37.5px;
  display:flex;
}

.student-row a {
  text-decoration:none;
}