* {
  box-sizing: border-box;
}

body {
  font-family: "Open Sans",
  sans-serif;
  font-size: 20px;
  color: #444;
  text-align: center;
  line-height: 1.5;
  background-color:#a4f1f5;
}

header {
  padding: 30px 15px;
  background-color:white;
  max-width:1000px;
  margin-left:auto;
  margin-right:auto;
}

section {
  min-height: 200px;
  padding: 30px 15px;
  background-color: #f6faaa;
  max-width:1000px;
  margin-left:auto;
  margin-right:auto;
}

section:nth-child(even) {
  background-color: #def9fa;
}

p {
  margin: 0 auto;
  max-width: 650px;
}

p + p {
  margin-top: 15px;
}

input {
  font-size: 20px;
}

.error {
  color: red;
}

h1, h3 {
  font-family: 'Baloo Bhai', cursive;
}

button {
  background:rgb(255, 216, 107);
  border: 1px solid gray;
  border-radius: 5px;
  margin:3px;
  padding:6px;
}