
.bold {
  font-weight:bold;
}

.main-content {
  display:flex;
}

.profile-detail {
  text-align:left;
}

.diary {
  text-align:left;
  background-color:#def9fa;
}

.diary ul {
  list-style-type:none;
  padding:0;
}

div.comment {
  border: 1px solid black;
  margin-top: 5px;
  padding:3px;
}

.note {
  padding: 5px;
}

.teacher-buttons {
  display: flex;
  flex-direction: column;
  margin-top:10px;
}

.teacher-buttons button {
  width:200px;
  margin-right:10px;
}

@media only screen and (max-width:550px) {
  .main-content {
    flex-direction:column;
  }
}